html {
  scroll-behavior: smooth;
}
.tophead {
    background-color: rgb(52, 95, 175);
    height: 60px;
    width: 100%;
    margin-top: -20px;
    color: whitesmoke;
  }
  .intro img {
    width: 70%;
    height: 600px;
    margin: 40px auto;
    display: flex;
  }
  .tophead p {
    text-align: right;
    padding: 10px 30px;
  }
  .tophead a {
    text-decoration: none;
    color: whitesmoke;
  }
  .tophead a:hover {
    text-decoration: underline;
  }
  .bothead {
    background-color: rgb(52, 95, 175);
    height: 70px;
    width: 100%;
    margin-top: -22px;
    color: whitesmoke;
    border-top: 0.5px solid whitesmoke;
  }
  .bothead img {
    width: 300px;
    height: 70px;
  }
  .intro h2 {
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  h1,
  h2,
  h3,
  p {
    margin-left: 10px;
  }
  .p_font {
    font-size: large;
    font-family: sans-serif;
  }
  .p_font_center {
    font-size: large;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  .p_font_intro {
    font-size: large;
    font-family: sans-serif;
    margin: 20px 170px;
  }
  .intro h2 {
    margin: 30px 170px;
  }
  body {
    margin: 0px;
    padding: 0px;
    height: 2000px;
    display: flex;
    flex-direction: column;
  }
  nav > ul {
    display: flex;
    padding: 0px 0px 0px 300px;
    margin-top: -40px;
    color: whitesmoke;
    list-style-type: none;
  }
  nav > ul > li {
    padding: 10px;
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
  }
  nav > ul > li > a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0;
  }
  nav > ul > li > a:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
  .form h2 {
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  form h3 {
    border-top: 0.5px solid black;
    padding-top: 15px;
  }
  textarea {
    min-width: 300px;
    min-height: 150px;
  }
  #enviar {
    background-color: rgb(52, 95, 175);
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  .form fieldset {
    background-color: rgba(52, 95, 175, 70%);
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin: 40px auto;
    box-shadow: 2px 2px 5px;
    border-radius: 1px;
    border-color: black;
  }
  .form input,
  textarea {
    border-radius: 10px;
  }
  .team_dev h1,
  .team_dev p {
    text-align: center;
  }
  .team_dev_2 h1,
  .team_dev_2 p {
    text-align: center;
  }
  #pedro_foto {
    width: 300px;
    display: flex;
    margin: 0 auto;
    border-radius: 200px;
  }
  #joao_foto {
    width: 300px;
    display: flex;
    margin: 0 auto;
    border-radius: 200px;
  }
  .blue_bg_p {
    font-size: large;
    font-family: sans-serif;
    background-color: rgba(52, 95, 175, 50%);
    width: 60%;
    height: 50px;
    margin: 20px auto;
    padding: 20px;
  }
  .team_dev {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
  }
  .team_dev_2 {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
  }
  .basquete h2 {
    padding-top: 10px;
  }
  .basquete {
    height: 1100px;
    background-color: #FF5252;
  }
  #basqueete{
    text-align: center;
    margin-right: 105px;
  }
  .basba{
    display: flex;
  }
  #bas{
    max-width: 500px;
    margin-top: 75px;
    margin-left: 125px;
    font-size: large;
    font-family: sans-serif;
  }
  #mj{
    width: 300px;
    height: 300px;
    margin-left: 325px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #catalogoo{
    text-align: center;
    margin-right: 105px;
    margin-top: 50px;
  }
  #preçob{
    margin-left: 50px;;
  }
  .compre2{
    margin-left: 50px;
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  .bola{
   text-align: center;
  }
  .regata{
    text-align: center;
  }
  #preçor{
    margin-right: 50px;
  }
  .compre{
    margin-right: 35px;
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  #regataa{
    text-align: center;
  }
  .regata img {
    width: 200px;
    height: 200px;
  }
  .tenisb{
    text-align: center;
  }
  .compre3{
    margin-left: 10px;
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  a{
    text-decoration: none;
  }
  .tenisb img {
    width: 300px;
    height: 200px;
    padding-top: 35px;
  }
  #tenisbb {
    text-align: center;
    margin-top: -15px;
  }
  #bolaa{
    text-align: center;
  }
  .bola img {
    padding-left: 50px;
  }
  .aaas {
    display: flex;
    margin-left: 50px;
  }
  .aaas img {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #bolaa {
    margin-left: 50px;
  }
  .volei h2{
    padding-top: 10px;
  }
  .volei{
    height: 1100px;
    background-color: #FFEE58;
  }
  #voolei{
    text-align: center;
    margin-right: 105px;
  }
  .volvo{
    display: flex;
  }
  #vol{
    max-width: 500px;
    margin-top: 75px;
    margin-left: 125px;
    font-size: large;
    font-family: sans-serif;
  }
  #varejão{
    width: 400px;
    height: 300px;
    margin-left: 325px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #catalogoo{
    text-align: center;
    margin-right: 105px;
    margin-top: 50px;
  }
  #preçobb{
    margin-left: 220px;

  }
  .compre4{
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  .bolaaa{
   text-align: center;
  }
  .camisa_volei{
    text-align: center;
  }
  #preço_cam_v{
    margin-right: 20px;
  }
  .compre5{
    margin-left: 185px;
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  #Camisa_Voleiic{
    text-align: center;
  }
  .camisa_volei img {
    width: 200px;
    height: 200px;
  }
  .joelheira{
    text-align: center;
  }
  .compre6{
    margin-left: 10px;  
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  .joelheira img {
    width: 200px;
    height: 200px; 
  }
  #joelheiraa {
    text-align: center;
    margin-top: -15px;
  }
  #bolaaa{
    text-align: center;
  }
  .bolav img {
    padding-left: 50px;
      width: 200px;
      height: 200px;
  }
  .bbbs {
    display: flex;
    margin-left: 50px;
  }
  .bbbs img {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #bolaaa {
    margin-left: 50px;
  }
  .futebol h2 {
    padding-top: 10px;
  }

  .futebol{
    height: 1100px;
    background-color: #98D687;
  }
  #footebol{
    text-align: center;
    margin-right: 105px;
  }
  .futfu{
    display: flex;
  }
  #fut{
    max-width: 500px;
    margin-top: 75px;
    margin-left: 125px;
    font-size: large;
    font-family: sans-serif;
  }
  #uspuelé{
    width: 500px;
    height: 300px;
    margin-left: 325px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #catalogoo{
    text-align: center;
    margin-right: 105px;
    margin-top: 50px;
  }
  #preçobf{
    margin-left: 220px;

  }
  .compre7{
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  .camisa_de_time{
    text-align: center;
  }
  #preçocst{
    margin-right: 20px;
  }
  .compre8{
    margin-left: 185px;
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  #camisa_de_timee{
    text-align: center;
  }
  .camisa_de_time img {
    width: 200px;
    height: 200px;
  }
  .chuteira{
    text-align: center;
  }
  .compre9{
    margin-left: 10px;  
    background-color: #2ECC71;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  }
  .chuteira img {
    width: 200px;
    height: 200px; 
  }
  #chuteiraa {
    text-align: center;
    margin-top: 30px;
  }
  #bolaaf{
    text-align: center;
    margin-top: -25px;
  }
  .bolaf img {
    padding-left: 50px;
      width: 200px;
      height: 250px;
  }
  .fffs {
    display: flex;
    margin-left: 50px;
  }
  .fffs img {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #bolaaf {
    margin-left: 50px;
  }
  footer {
    background-color: rgb(15, 38, 80);
    height: 300px;
    display: flex;
    color: white;
  }
  footer > img {
    width: 12%;
    height: 60px;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 15px;
  }
  footer ol {
    list-style-type: none;
  }
  footer a {
    color: white;
  }
  footer li {
    padding-top: 5px;
  }
  footer a:hover {
    text-decoration: underline;
  }
  #footer-sobre {
    width: 44%;
    padding-top: 30px;
    font-size: large;
  }
  #footer-referencias {
    width: 44%;
    padding-top: 30px;
    font-size: large;
  }
  .direitos {
    background-color: rgb(8, 22, 48);
    height: 130px;
  }
  .direitos p {
    margin: 0;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
  }
  .direitos img {
    width: 10%;
    display: flex;
    margin: 0 auto;
  }
